* {

    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

#subs-container {

    width: 100%;
    height: 100vh;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
}

/* Header */

#header-container {

    width: 100%;
    height: 8.5vh;

    position: static;
    z-index: 999;
}

#header {

    width: inherit;
    height: 8.5vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#header-logos-container {

    width: inherit;
    height: 8.5vh;

    display: flex;
    align-items: center;
}

.header-logo {

    width: 20%;
    height: 8.5vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

div.header-logo img {

    width: 100%;
    height: 10rem;
}

/* H1 text */

#h1-container {

    width: 100%;
    height: 40vh;
    padding: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
}

div#h1-container h1 {

    width: inherit;
    height: inherit;

    font-size: 7rem;
    text-align: center;
    font-family: YouTube-Sans-Bold;

    color: #0f0f0f;
}

/* Subs cards */

#subs-cards-container {

    width: 100%;
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;
    

    flex-direction: row;
    flex-wrap: wrap;

    padding-left: 10%;
    padding-right: 10%;

    gap: 4rem;
}

.card-container {

    width: 30%;
    height: 30vh;

    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-left: 1%;
    padding-right: 1%;

    border-radius: 20px;
    background-color: #272727;
}

.card-h1-container {

    font-family: YouTube-Sans-Bold;
    color: whitesmoke;
    font-size: 2rem;

    width: 100%;
    height: 3rem;
    padding: 1%;
    margin-bottom: 1.25%;

    display: flex;
    align-items: center;

    flex-direction: row;
}

.card-creds-container {

    width: 100%;
    height: 7rem;
    margin-top: 1.25%;
    margin-bottom: 1.25%;

    display: flex;
    flex-direction: column;
    font-family: YouTube-Sans-Light;
    color: whitesmoke;
    font-size: 2rem;
}

.card-button-container {

    width: 100%;
    height: 3rem;

    margin-top: 1.25%;
    padding: 2.5%;
    margin-bottom: 2%;
}

div.card-button-container button {

    width: inherit;
    height: inherit;

    background-color: #3ea6ff;

    border-radius: 30px;
    border-style: none;
    font-family: YouTube-Sans-Bold;
    font-size: 1.7rem;
    color: #0f0f0f;
}

div.card-container hr {

    margin: 0%;
    margin-top: 1.25%;
    margin-bottom: 1.25%;
    
    width: 100%;
    justify-self: center;
    align-self: center;

    border-radius: 250px;
}
